@{
    ViewData["Title"] = "Privacy Policy";
}


<section class="privay_background-img">
    <div class="filter"></div>

    <h1>@ViewData["Title"]</h1>

</section>


<div class="container">
    <div id="__enzuzo-root"></div><script id="__enzuzo-root-script" src="https://app.enzuzo.com/scripts/privacy/1c14a6a8-392a-11ee-a59d-a7e00bc38ab8"></script>
</div>
